@font-face {
    font-family: "Norse-bold";
    src: url(./fonts/Norse-Bold.otf);
}
:root {
    --green: #596D48;
    --defaultBorder:1px solid #E5E7EB;
    --focusedBorder: 1px solid blue;
    --errorBorder: 1px solid red;
    padding: 0;
    margin: 0;
}
html,
body {
    margin: 0;
    padding: 0;
    background-color: #E5E7EB;
}
.pageContainer {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}
.imageContainer {
    background-image: url(./images/green-leaf-plant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Norse-bold;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 33%;
}
.logoContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    justify-items: center;
    position: relative;
    top: 25%;
}
.logoContainer>img {
    width: 25%;
    height: 25%;
    margin-left: 25%;
}
.logoContainer>h1 {
    margin-right: 25%;
    font-size: 3rem;
}
.contentContainer {
    padding-top: 10%;
}
.contentContainer>p {
    font-weight: 700;
    font-size: 1.25rem;
    padding-left: 5%;
}
#myForm {
    background-color: white;
    padding-left: 5%;
    padding-right: 10%;
    width: 100%;
}
fieldset {
    border: 0;
    display: flex;
    font-size: 0.75rem;
}
input,
label {
    display: block;
}
fieldset>div {
    margin-right: 5%;
}
input {
    border: var(--defaultBorder);
    border-radius: 5%;
    padding: 5%;
}
input:focus {
    border: var(--focusedBorder);
    box-shadow: 1px 1px 1px 1px;
}
input:invalid {
    border: var(--errorBorder);
}
button {
    background-color: var(--green);
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 1% 2%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 5%;
    width: 20%;
    
}
#buttonAlternative {
    font-size: 1rem;
    font-weight: 100;
}
p>a {
    text-decoration: none;
    color: var(--green);
}
@media only screen and (max-width:700px){
    .imageContainer {
        display: none;
    }
    input  {
        padding: 0;
    }
}